.parent-container {
  position: relative;
  height:100%;
  width: 100%;
}

.child-container {
  color: white;
  text-align: center;
  position: center;

}
.desc {
  font-family: Georgia;
  font-size: 17px;
}
.col-lg-6 {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
}

