body {
    background-image: url("pic.jpg");
    background-size: cover;
}
#content {
    margin-top: 39%;
    margin-left: 60%;
}
h2{
    color: Black;
}
.img{
    top: 30%;
    left: 30%;
    position: center;
}

.heightchck{
    height:350px
}